[Desktop Entry]
Name=busbuzzparents
Exec=ubuntu-html5-app-launcher $@ --www=www --inspector
Icon=busbuzz-parents.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

